<a href="https://colab.research.google.com/github/CristianVeloz0501/DMC/blob/main/Housing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpt
import matplotlib.pyplot as plt

# Importar datos

In [2]:
Data = pd.read_csv('/content/HousingData 2.csv',encoding='latin1')

# Exploracion de datos

Se puede usar el head, sample, tail para observar valores de la tabla

In [5]:
Data.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
Data.sample(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
23,0.98843,0.0,8.14,0.0,0.538,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,14.5
98,0.08187,0.0,2.89,0.0,0.445,7.820,36.9,3.4952,2,276,18.0,393.53,3.57,43.8
154,1.41385,0.0,19.58,1.0,0.871,6.129,96.0,1.7494,5,403,14.7,321.02,15.12,17.0
380,88.97620,0.0,18.10,0.0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
155,3.53501,0.0,19.58,1.0,0.871,6.152,NaN,1.7455,5,403,14.7,88.01,15.02,15.6